
h1 {
    color:rgb(220, 0, 40);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}


.button5 {
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
    border-radius: 12px;
}

.button {
    background-color: rgb(186, 186, 186);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 19px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}

  .button:hover {
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow:rgb(0, 0, 0);
  }
  
  .btn {
    display: inline-block;
    
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
   
  }
  
  
  
  .btn:active {
    transform: translateY(4px);
  }




