a {
    color: black;
}

body {
    background-image: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/146250/146250_00_2x.jpg");
    
    background-repeat: no-repeat;
   background-size: cover;
   }