a {
    color: black;
}

body {
    background-image: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/146250/146250_00_2x.jpg");
    
    background-repeat: no-repeat;
   background-size: cover;
   }

   .small {
    height: 200px;
    width: 200px;
    

  }
  .butnCol {
   
    border: solid;
    border-color: grey;
    margin-right: 1150px;
    margin-left: 55px;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    

  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .center {
    display: block;
    margin-left: 190px;
    margin-right: 150px;
    width: 50%;
  }

  .center2 {
    display: block;
    margin-left: 450px;
    margin-right: 250px;
    width: 50%;
  }