a {
    color: black;
}
body {
    background-image: url("https://envato-shoebox-0.imgix.net/037b/a93d-3b7b-4815-8275-309fb4c583e6/IMG_0976.JPG?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=657c4617ef4244e0efdace10b6551847");
    background-repeat: no-repeat;
   background-size: cover;
   }
   .small {
    height: 200px;
    width: 200px;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .center {
    display: block;
    margin-left: 190px;
    margin-right: 150px;
    width: 50%;
  }

  .center2 {
    display: block;
    margin-left: 450px;
    margin-right: 250px;
    width: 50%;
  }