a {
    color: black;
}

form {
    text-align: center;
    border: inset;
    margin-right: 150px;
  margin-left: 80px;
  background-color: lightgray;
  }
  
  body {
    background-image: url("https://c.pxhere.com/photos/1d/b6/apparel_attire_blur_boutique_business_casual_close_up_closet-1560409.jpg!s");
    background-repeat: no-repeat;
   background-size: cover;
   }
p {
    color: lightslategray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}