body {
    background-image: url("https://aws1.discourse-cdn.com/pocketgems/uploads/episodeinteractive/optimized/3X/3/e/3ec0c358ffe7520bb21bd36b5d876ec4decf8578_2_690x408.jpeg");
    background-repeat: no-repeat;
   background-size: cover;
   }